<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wor</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <h1>Workout list</h1>
        <a href="/workouts/new">Add New Workout</a>
    </nav>
    <ul>
        <% workouts.forEach(wo => { %>
            <li>
                <button data-id="<%= wo._id %>">DELETE</button>
                <a style="margin: 0 1rem;" href="/workouts/<%= wo._id%>/edit">EDIT</a>
                <a href="/workouts/<%= wo._id %>"><%= wo.title %></a>
            </li>
        <% }); %>
    </ul>
</body>

</html> 