<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Workouts</title>
</head>
<body>
    <nav>
        <a href="/workouts">See All Workouts</a>
        <a href="workouts/new">Add a new workout</a>
    </nav>
    <a href="/">Home</a>
    <h1>This is the show page</h1>
    <p>In this page you can see a specifik workout</p>

    
</body>
</html>