<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Workouts</title>
</head>
<body>
    <h1>See <%= workout.title %> Details</h1>
    <nav>
        <a href="/workouts">See All workouts</a>
        <a href="/workouts/new">Create A New workout</a>
    </nav>
    <h3>Title: <%= workout.title %></h3>
    <p><%= workout.notes %></p>
    
</body>
</html>